@font-face {
    font-family: 'icomoon';
    src:    url('/fonts/icomoon.eot?y3m4a5');
    src:    url('/fonts/icomoon.eot?y3m4a5#iefix') format('embedded-opentype'),
        url('/fonts/icomoon.ttf?y3m4a5') format('truetype'),
        url('/fonts/icomoon.woff?y3m4a5') format('woff'),
        url('/fonts/icomoon.svg?y3m4a5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
    content: "\e00a";
}
.icon-ok:before {
    content: "\e00d";
}
.icon-folder:before {
    content: "\e900";
}
.icon-download:before {
    content: "\e901";
}
.icon-database:before {
    content: "\e902";
}
.icon-clipboard:before {
    content: "\e903";
}
.icon-bookmarks:before {
    content: "\e905";
}
.icon-not:before {
    content: "\e906";
}

