/* Colors */
/*@dark-blue: #16499a;*/
/*@blue: #4390df;*/
/* btn */
/* font */
/* mb */
/* sb */
/* action-row */
/* title-row */
/* cb-list */
/* Utils */
/** Definitions **/
body {
  margin: 0px 0px 0px 0px;
}
div {
  outline: none;
}
.font {
  font: normal 15px Arial, sans-serif;
}
.block {
  padding: 3px;
}
.block:not(.active) {
  display: none;
}
.button {
  font: normal 15px Arial, sans-serif;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  border: none;
  vertical-align: middle;
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-user-select: none;
  /**/
  height: 15px;
  padding: 3px 10px 4px 10px;
  border-radius: 5px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}
.menu-button {
  font: normal 15px Arial, sans-serif;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  border: none;
  vertical-align: middle;
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-user-select: none;
  /**/
  height: 15px;
  padding: 3px 10px 4px 10px;
  border-radius: 5px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
  margin: 1px;
  width: 200px;
  color: #fff;
  background: #4f6ba0;
}
.menu-button *:before {
  padding-right: 3px;
}
.menu-button.hover {
  background: #759fed;
}
.menu-button.disabled {
  cursor: default;
  background: gray;
}
.menu-button.disabled.hover,
.menu-button.disabled:hover {
  background: gray;
}
.menu-dual-button {
  font: normal 15px Arial, sans-serif;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  border: none;
  vertical-align: middle;
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-user-select: none;
  /**/
  height: 15px;
  padding: 3px 10px 4px 10px;
  border-radius: 5px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
  margin: 1px;
  width: 200px;
  color: #fff;
  background: #4f6ba0;
  display: flex;
  width: 220px;
  padding: 0px 0px 0px 0px;
  height: 22px;
}
.menu-dual-button *:before {
  padding-right: 3px;
}
.menu-dual-button.hover {
  background: #759fed;
}
.menu-dual-button.disabled {
  cursor: default;
  background: gray;
}
.menu-dual-button.disabled.hover,
.menu-dual-button.disabled:hover {
  background: gray;
}
.menu-dual-button * {
  height: 15px;
  padding-top: 3px;
  padding-bottom: 4px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}
.menu-dual-button *[role="main"] {
  width: 100%;
  padding-left: 10px;
  background: #4f6ba0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.menu-dual-button *[role="main"].hover {
  background: #759fed;
}
.menu-dual-button *[role="sub"] {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  background: #a20025;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.menu-dual-button *[role="sub"].hover {
  background: #da5a53;
}
.single-row-header {
  font: normal 15px Arial, sans-serif;
  display: flex;
  width: 400px;
  height: 22px;
  padding: 0px 0px 0px 0px;
  vertical-align: middle;
  color: #fff;
  border-radius: 5px;
  overflow: hidden;
  -webkit-user-select: none;
  margin: 0px;
}
.single-row-header:not(last-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.single-row-header * {
  height: 15px;
  padding-top: 3px;
  padding-bottom: 4px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}
.single-row-header *[role="title"] {
  width: 100%;
  padding-left: 10px;
  background: #4f6ba0;
  cursor: default;
}
.single-row-header *[role="title"]:before {
  padding-right: 3px;
}
.single-row-header *:not([role="title"]) {
  padding-left: 10px;
  padding-right: 10px;
}
.single-row-header *[role="ok"] {
  cursor: pointer;
  background: limegreen;
}
.single-row-header *[role="ok"]:hover {
  background: lightgreen;
}
.single-row-header *[role="back"] {
  cursor: pointer;
  background: #a20025;
}
.single-row-header *[role="back"]:hover {
  background: #da5a53;
}
.double-row-header {
  font: normal 15px Arial, sans-serif;
  display: table;
  width: 100%;
  height: 22px;
  padding: 0px 0px 0px 0px;
  vertical-align: middle;
  color: #fff;
}
.double-row-header *[role="first-line"] {
  font: normal 15px Arial, sans-serif;
  display: flex;
  width: 400px;
  height: 22px;
  padding: 0px 0px 0px 0px;
  vertical-align: middle;
  color: #fff;
  border-radius: 5px;
  overflow: hidden;
  -webkit-user-select: none;
  margin: 0px;
}
.double-row-header *[role="first-line"]:not(last-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.double-row-header *[role="first-line"] * {
  height: 15px;
  padding-top: 3px;
  padding-bottom: 4px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}
.double-row-header *[role="first-line"] *[role="title"] {
  width: 100%;
  padding-left: 10px;
  background: #4f6ba0;
  cursor: default;
}
.double-row-header *[role="first-line"] *[role="title"]:before {
  padding-right: 3px;
}
.double-row-header *[role="first-line"] *:not([role="title"]) {
  padding-left: 10px;
  padding-right: 10px;
}
.double-row-header *[role="first-line"] *[role="ok"] {
  cursor: pointer;
  background: limegreen;
}
.double-row-header *[role="first-line"] *[role="ok"]:hover {
  background: lightgreen;
}
.double-row-header *[role="first-line"] *[role="back"] {
  cursor: pointer;
  background: #a20025;
}
.double-row-header *[role="first-line"] *[role="back"]:hover {
  background: #da5a53;
}
.double-row-header *[role="first-line"] * {
  display: table-cell;
}
.double-row-header *[role="first-line"] *[role="title"] {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.double-row-header *[role="first-line"] *[role="back"] {
  border-bottom-right-radius: 0;
}
.double-row-header *[role="second-line"] {
  font: normal 15px Arial, sans-serif;
  display: flex;
  width: 400px;
  height: 22px;
  padding: 0px 0px 0px 0px;
  vertical-align: middle;
  color: #fff;
  border-radius: 5px;
  overflow: hidden;
  -webkit-user-select: none;
  margin: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.double-row-header *[role="second-line"]:not(last-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.double-row-header *[role="second-line"] * {
  height: 15px;
  padding-top: 3px;
  padding-bottom: 4px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}
.double-row-header *[role="second-line"] *[role="title"] {
  width: 100%;
  padding-left: 10px;
  background: #4f6ba0;
  cursor: default;
}
.double-row-header *[role="second-line"] *[role="title"]:before {
  padding-right: 3px;
}
.double-row-header *[role="second-line"] *:not([role="title"]) {
  padding-left: 10px;
  padding-right: 10px;
}
.double-row-header *[role="second-line"] *[role="ok"] {
  cursor: pointer;
  background: limegreen;
}
.double-row-header *[role="second-line"] *[role="ok"]:hover {
  background: lightgreen;
}
.double-row-header *[role="second-line"] *[role="back"] {
  cursor: pointer;
  background: #a20025;
}
.double-row-header *[role="second-line"] *[role="back"]:hover {
  background: #da5a53;
}
.double-row-header *[role="second-line"] *[role="value"] {
  text-align: center;
  width: 100%;
  outline: none;
  border: none;
  border-spacing: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #4f6ba0;
}
.double-row-header *[role="second-line"] *[role="folder"] {
  padding-left: 10px;
  padding-right: 10px;
  background: #4f6ba0;
  cursor: pointer;
}
.double-row-header *[role="second-line"] *[role="folder"]:hover {
  background: #759fed;
}
.double-row-header *[role="second-line"]:last-child *[role="value"] {
  border-bottom-left-radius: 5px;
}
.double-row-header *[role="second-line"]:last-child *[role="value"]:last-child {
  border-bottom-right-radius: 5px;
}
.double-row-header *[role="second-line"]:last-child *[role="folder"] {
  border-bottom-right-radius: 5px;
}
.header {
  padding: 0px;
  margin: 0px;
}
.header:not(.active) {
  display: none;
}
.body {
  padding: 0px;
  margin: 0px;
  padding-top: 5px;
}
.body:not(.active) {
  display: none;
}
.body.bordered {
  width: 392px;
  padding: 3px;
  border: solid 1px #4f6ba0;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.cb-list {
  font: normal 15px Arial, sans-serif;
  font-size: 12px;
  -webkit-user-select: none;
  list-style-type: none;
  vertical-align: top;
  width: 384px;
  padding: 3px 7px 3px 7px;
  margin: 0px;
  border: solid 1px #d9d9d9;
  border-radius: 5px;
  /*
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  */
  color: #4f6ba0;
  background: #fff;
}
.cb-list li {
  padding-left: 14px;
  overflow: hidden;
  white-space: nowrap;
}
.cb-list li[role="all"] {
  border-bottom: solid 1px #d9d9d9;
}
.cb-list li input[type="checkbox"] {
  opacity: 0;
  width: 0px;
  height: 0px;
  margin: 0px;
}
.cb-list li img {
  width: 1.1em;
  vertical-align: top;
}
.cb-list li label {
  position: relative;
  cursor: pointer;
}
.cb-list li label span {
  padding-left: 3px;
}
.cb-list li label:before {
  content: '';
  position: absolute;
  left: -12px;
  top: 3px;
  width: 6px;
  height: 6px;
  border: solid 1px #d9d9d9;
  border-radius: 4px;
}
.cb-list li label:after {
  content: '';
  position: absolute;
  left: -10px;
  top: 5px;
  width: 4px;
  height: 4px;
  background: #759fed;
  border-radius: 4px;
}
.cb-list li input[type="checkbox"]:not(checked) + label:after {
  opacity: 0;
}
.cb-list li input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
.nested-list {
  font: normal 15px Arial, sans-serif;
  font-size: 12px;
  list-style-type: none;
  vertical-align: top;
  padding: 3px;
  margin: 0px;
}
.nested-list li {
  height: 16px;
}
.nested-list li div {
  padding-left: 10px;
}
.nested-list li[role="main"] {
  margin-top: 3px;
  color: #fff;
  background: #4f6ba0;
  border-radius: 5px;
}
.nested-list li[role="main"]:first-child {
  margin-top: 0px;
}
.nested-list li[role="main"].active {
  background: #759fed;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.nested-list li[role="main"]:hover {
  background: #759fed;
}
.nested-list li[role="main"] + div {
  display: none;
}
.nested-list li[role="main"].active + div {
  display: block;
}
.nested-list div {
  cursor: default;
  -webkit-user-select: none;
}
.nested-list div li {
  height: auto;
  vertical-align: middle;
  padding-left: 10px;
  color: #4f6ba0;
  background: #fff;
  border-left: solid 1px #759fed;
  border-right: solid 1px #759fed;
}
.nested-list div li * {
  vertical-align: middle;
}
.nested-list div li img {
  width: 1em;
}
.nested-list div li label {
  padding-left: 5px;
}
.nested-list div li:last-child {
  border-bottom: solid 1px #759fed;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
