/* Colors */
@white: #fff;
/*@dark-blue: #16499a;*/
@dark-blue: #4f6ba0;
/*@blue: #4390df;*/
@blue: #759fed;
@dark-red: #a20025;
@red: #da5a53;
@gray: #d9d9d9;

/* btn */
@b-block-height: 22px;
@b-padding-left: 10px;
@b-padding-right: 10px;
@b-padding-top: 3px;
@b-padding-bottom: 4px;
@b-padding: @b-padding-top @b-padding-right @b-padding-bottom @b-padding-left;
@b-height: (@b-block-height - @b-padding-top - @b-padding-bottom);
@b-border-radius: 5px;
@b-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);

/* font */
@font-size: @b-height;

/* mb */
@mb-block-width: 220px;
@mb-width: (@mb-block-width - @b-padding-left - @b-padding-right);

/* sb */
@sb-block-width: 50px;
@sb-width: (@sb-block-width - @b-padding-left - @b-padding-right);

/* action-row */
@ar-block-width: 400px;
@ar-width: (@ar-block-width - @b-padding-left - @b-padding-right);
@ar-path-width: (@ar-width - 2 * @b-padding-right);

/* title-row */
@tr-block-width: 400px;
@tr-width: (@tr-block-width - @b-padding-right);

/* cb-list */
@cb-block-width: 400px;
@cb-padding: 12px;
@cb-width: @cb-block-width - 2 * @cb-padding;
@cb-font-size: 12px;
@cb-b-radius: 4px;
@cb-b-diff: 2px;
@cb-bo-width: floor(@cb-font-size / 1.75);
@cb-bo-height: @cb-bo-width;
@cb-bo-top: ceil(@cb-bo-width / 2);
@cb-bo-left-offs: -12px;
@cb-bi-width: @cb-bo-width - @cb-b-diff;
@cb-bi-height: @cb-bi-width;
@cb-bi-top: @cb-bo-top + @cb-b-diff;
@cb-bi-left-offs: @cb-bo-left-offs + @cb-b-diff;

/* Utils */
@no-padding: 0px 0px 0px 0px;
@no-margin: @no-padding;

/** Definitions **/

body {
  margin: @no-margin;
}

div {
  outline: none;
}

.font {
  font: normal @font-size Arial, sans-serif;
}

.block {
  padding: 3px;
  &:not(.active) {
    display: none;
  }
}

.button {
  .font;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  border: none;
  vertical-align: middle;
  -o-text-overflow: clip;
  text-overflow: clip;
  -webkit-user-select: none;
  /**/
  height: @b-height;
  padding: @b-padding;
  border-radius: @b-border-radius;
  box-shadow: @b-shadow;
}

.menu-button {
  .button;
  margin: 1px;
  width: @mb-width;
  color: @white;
  background: @dark-blue;

  *:before {
    padding-right: 3px;
  }

  &.hover {
    background: @blue;
  }

  // Temporary
  &.disabled {
    cursor: default;
    background: gray;
    &.hover, &:hover {
      background: gray;
    }
  }
}

.menu-dual-button {
  .menu-button;
  display: flex;
  width: @mb-block-width;
  padding: @no-padding;
  height: @b-block-height;
  * {
    height: @b-height;
    padding-top: @b-padding-top;
    padding-bottom: @b-padding-bottom;
    box-shadow: @b-shadow;
  }
  *[role="main"] {
    width: 100%;
    padding-left: @b-padding-left;
    background: @dark-blue;
    border-top-left-radius: @b-border-radius;
    border-bottom-left-radius: @b-border-radius;

    &.hover {
      background: @blue;
    }
  }
  *[role="sub"] {
    padding-left: @b-padding-right;
    padding-right: @b-padding-right;
    text-align: center;
    background: @dark-red;
    border-top-right-radius: @b-border-radius;
    border-bottom-right-radius: @b-border-radius;

    &.hover {
      background: @red;
    }
  }
}

.single-row-header {
  .font;
  display: flex;
  width: @cb-block-width;
  height: @b-block-height;
  padding: @no-padding;
  vertical-align: middle;
  color: @white;
  border-radius: @b-border-radius;
  overflow: hidden;
  -webkit-user-select: none;
  margin: 0px;
  &:not(last-child) {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  * {
    height: @b-height;
    padding-top: @b-padding-top;
    padding-bottom: @b-padding-bottom;
    box-shadow: @b-shadow;
  }
  *[role="title"] {
    width: 100%;
    padding-left: @b-padding-left;
    background: @dark-blue;
    cursor: default;

    &:before {
      padding-right: 3px;
    }
  }
  *:not([role="title"]) {
    padding-left: @b-padding-right;
    padding-right: @b-padding-right;
  }
  *[role="ok"] {
    cursor: pointer;
    background: limegreen;
    &:hover {
      background: lightgreen;
    }
  }
  *[role="back"] {
    cursor: pointer;
    background: @dark-red;
    &:hover {
      background: @red;
    }
  }
}

.double-row-header {
  .font;
  display: table;
  width: 100%;
  height: @b-block-height;
  padding: @no-padding;
  vertical-align: middle;
  color: @white;
  *[role="first-line"] {
    .single-row-header;
    * {
      display: table-cell;
    }
    *[role="title"] {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    *[role="back"] {
      border-bottom-right-radius: 0;
    }
  }
  *[role="second-line"] {
    .single-row-header;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    *[role="value"] {
      text-align: center;
      width: 100%;
      outline: none;
      border: none;
      border-spacing: 10px;
      padding-left: @b-padding-right;
      padding-right: @b-padding-right;
      color: @dark-blue;
    }
    *[role="folder"] {
      padding-left: @b-padding-right;
      padding-right: @b-padding-right;
      background: @dark-blue;
      cursor: pointer;

      &:hover {
        background: @blue;
      }
    }

    &:last-child {
      *[role="value"] {
        border-bottom-left-radius: @b-border-radius;
        &:last-child {
          border-bottom-right-radius: @b-border-radius;
        }
      }
      *[role="folder"] {
        border-bottom-right-radius: @b-border-radius;
      }
    }
  }
}

.header {
  padding: 0px;
  margin: 0px;
  &:not(.active) {
    display: none;
  }
}

.body {
  .header;
  padding-top: 5px;
  &.bordered {
    width: @cb-block-width - 8px;
    padding: 3px;
    border: solid 1px @dark-blue;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.cb-list {
  .font;
  font-size: @cb-font-size;
  -webkit-user-select: none;
  list-style-type: none;
  vertical-align: top;
  width: @cb-block-width - 16;
  padding: 3px 7px 3px 7px;
  margin: 0px;
  border: solid 1px @gray;
  border-radius: @b-border-radius;
  /*
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  */

  color: @dark-blue;
  background: @white;
  li {
    padding-left: @cb-padding + 2;
    overflow: hidden;
    white-space: nowrap; // for single line tab
    &[role="all"] {
      border-bottom: solid 1px @gray;
    }
    input[type="checkbox"] {
      opacity: 0;
      width: 0px;
      height: 0px;
      margin: 0px;
    }
    img {
      width: 1.1em;
      vertical-align: top;
    }
    label {
      position: relative;
      cursor: pointer;
      span {
        padding-left: 3px;
      }
    }
    label:before {
      content: '';
      position: absolute;
      left: @cb-bo-left-offs;
      top: @cb-bo-top;
      width: @cb-bo-width;
      height: @cb-bo-height;
      border: solid 1px @gray;
      border-radius: @cb-b-radius;
    }
    label:after {
      content: '';
      position: absolute;
      left: @cb-bi-left-offs;
      top: @cb-bi-top;
      width: @cb-bi-width;
      height: @cb-bi-height;
      background: @blue;
      border-radius: @cb-b-radius;
    }
    input[type="checkbox"]:not(checked) + label:after {
      opacity: 0;
    }
    input[type="checkbox"]:checked + label:after {
      opacity: 1;
    }
  }
}

.nested-list {
  .font;
  font-size: 12px;
  list-style-type: none;
  vertical-align: top;
  padding: 3px;
  margin: 0px;
  li {
    height: 16px;
    div {
      padding-left: 10px;
    }
  }
  li[role="main"] {
    margin-top: 3px;
    &:first-child {
      margin-top: 0px;
    }
    color: @white;
    background: @dark-blue;
    border-radius: 5px;
    &.active {
      background: @blue;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    &:hover {
      background: @blue;
    }

    & + div {
      display: none;
    }
    &.active + div {
      display: block;
    }
  }
  div {
    cursor: default;
    -webkit-user-select: none;
    li {
      height: auto;
      vertical-align: middle;
      padding-left: 10px;
      color: @dark-blue;
      background: @white;
      border-left: solid 1px @blue;
      border-right: solid 1px @blue;
      * {
        vertical-align: middle;
      }
      img {
        width: 1em;
      }
      label {
        padding-left: 5px;
      }
    }
    li:last-child {
      border-bottom: solid 1px @blue;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
